root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.ftl]
indent_size = 4
indent_style = space

[*.{ts,jsx,js}]
indent_size = 2
indent_style = space
max_line_length = 88

[*.{tsx,json,yml,yaml}]
indent_size = 2
indent_style = space
max_line_length = 80

[*.{rs,kt,kts,py}]
indent_size = 4
indent_style = space
