# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# JS/TS dependencies
/node_modules

# testing
/coverage

# Build artifacts
/build
/target

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

*.log

# vite
/dist
/stats.html
vite.config.ts.timestamp*

# eslint
.eslintcache

# Tauri / Rust
/src-tauri/target/
/src-tauri/gen/schemas/

/scripts/__pycache__/
